# FIT5149 Applied Data Analysis
## Assignment 2: Sentiment Classification of YELP Product Reviews

### Group Details:

#### Group Number : 69
#### Team Members : 
1. Rishabh Kochhar - 29869560
2. Subhasish Sarkar - 29819253
3. Ajay Ganapathy - 29822270

###  Importing Required Libraries

In [186]:
#!pip install mlxtend
nltk.download('all')
from __future__ import division
import matplotlib.pyplot as plt
import pandas as pd
from nltk.tokenize import RegexpTokenizer
%matplotlib inline 
import nltk
from nltk.corpus import reuters
from nltk.corpus import stopwords 
from nltk.util import ngrams
from nltk.tokenize import MWETokenizer
from nltk.stem import SnowballStemmer
from itertools import chain
import re
from nltk.tokenize import sent_tokenize, word_tokenize
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer, TfidfVectorizer
from sklearn.multiclass import OneVsRestClassifier
from  sklearn.metrics import accuracy_score
from sklearn.preprocessing import MinMaxScaler

from sklearn.svm import LinearSVC
from sklearn.linear_model import LogisticRegression as log_r
from sklearn.naive_bayes import MultinomialNB as mnb
from sklearn.ensemble import VotingClassifier
from mlxtend.classifier import StackingClassifier
from mlxtend.feature_selection import ColumnSelector

[nltk_data] Downloading collection 'all'
[nltk_data]    |
[nltk_data]    | Downloading package abc to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package abc is already up-to-date!
[nltk_data]    | Downloading package alpino to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package alpino is already up-to-date!
[nltk_data]    | Downloading package biocreative_ppi to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package biocreative_ppi is already up-to-date!
[nltk_data]    | Downloading package brown to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package brown is already up-to-date!
[nltk_data]    | Downloading package brown_tei to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package brown_tei is already up-to-date!
[nltk_data]    | Downloading package cess_cat to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package cess_cat is already up-to-date!
[nltk_data]    | Downloading package cess_esp to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package cess_esp is already up-to-date!
[nltk_data]    | Downloading package chat80 to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package chat80 is already up-to-date!
[nltk_data]    | Downloading package city_database to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package city_database is already up-to-date!
[nltk_data]    | Downloading package cmudict to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package cmudict is already up-to-date!
[nltk_data]    | Downloading package comparative_sentences to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package comparative_sentences is already up-to-
[nltk_data]    |       date!
[nltk_data]    | Downloading package comtrans to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package comtrans is already up-to-date!
[nltk_data]    | Downloading package conll2000 to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package conll2000 is already up-to-date!
[nltk_data]    | Downloading package conll2002 to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package conll2002 is already up-to-date!
[nltk_data]    | Downloading package conll2007 to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package conll2007 is already up-to-date!
[nltk_data]    | Downloading package crubadan to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package crubadan is already up-to-date!
[nltk_data]    | Downloading package dependency_treebank to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package dependency_treebank is already up-to-date!
[nltk_data]    | Downloading package dolch to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package dolch is already up-to-date!
[nltk_data]    | Downloading package europarl_raw to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package europarl_raw is already up-to-date!
[nltk_data]    | Downloading package floresta to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package floresta is already up-to-date!
[nltk_data]    | Downloading package framenet_v15 to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package framenet_v15 is already up-to-date!
[nltk_data]    | Downloading package framenet_v17 to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package framenet_v17 is already up-to-date!
[nltk_data]    | Downloading package gazetteers to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package gazetteers is already up-to-date!
[nltk_data]    | Downloading package genesis to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package genesis is already up-to-date!
[nltk_data]    | Downloading package gutenberg to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package gutenberg is already up-to-date!
[nltk_data]    | Downloading package ieer to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package ieer is already up-to-date!
[nltk_data]    | Downloading package inaugural to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package inaugural is already up-to-date!
[nltk_data]    | Downloading package indian to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package indian is already up-to-date!
[nltk_data]    | Downloading package jeita to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package jeita is already up-to-date!
[nltk_data]    | Downloading package kimmo to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package kimmo is already up-to-date!
[nltk_data]    | Downloading package knbc to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package knbc is already up-to-date!
[nltk_data]    | Downloading package lin_thesaurus to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package lin_thesaurus is already up-to-date!
[nltk_data]    | Downloading package mac_morpho to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package mac_morpho is already up-to-date!
[nltk_data]    | Downloading package machado to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package machado is already up-to-date!
[nltk_data]    | Downloading package masc_tagged to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package masc_tagged is already up-to-date!
[nltk_data]    | Downloading package moses_sample to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package moses_sample is already up-to-date!
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package movie_reviews is already up-to-date!
[nltk_data]    | Downloading package names to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package names is already up-to-date!
[nltk_data]    | Downloading package nombank.1.0 to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package nombank.1.0 is already up-to-date!
[nltk_data]    | Downloading package nps_chat to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package nps_chat is already up-to-date!
[nltk_data]    | Downloading package omw to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package omw is already up-to-date!
[nltk_data]    | Downloading package opinion_lexicon to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package opinion_lexicon is already up-to-date!
[nltk_data]    | Downloading package paradigms to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package paradigms is already up-to-date!
[nltk_data]    | Downloading package pil to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package pil is already up-to-date!
[nltk_data]    | Downloading package pl196x to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package pl196x is already up-to-date!
[nltk_data]    | Downloading package ppattach to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...

[nltk_data]    |   Package ppattach is already up-to-date!
[nltk_data]    | Downloading package problem_reports to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package problem_reports is already up-to-date!
[nltk_data]    | Downloading package propbank to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package propbank is already up-to-date!
[nltk_data]    | Downloading package ptb to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package ptb is already up-to-date!
[nltk_data]    | Downloading package product_reviews_1 to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package product_reviews_1 is already up-to-date!
[nltk_data]    | Downloading package product_reviews_2 to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package product_reviews_2 is already up-to-date!
[nltk_data]    | Downloading package pros_cons to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package pros_cons is already up-to-date!
[nltk_data]    | Downloading package qc to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package qc is already up-to-date!
[nltk_data]    | Downloading package reuters to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package reuters is already up-to-date!
[nltk_data]    | Downloading package rte to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package rte is already up-to-date!
[nltk_data]    | Downloading package semcor to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package semcor is already up-to-date!
[nltk_data]    | Downloading package senseval to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package senseval is already up-to-date!
[nltk_data]    | Downloading package sentiwordnet to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package sentiwordnet is already up-to-date!
[nltk_data]    | Downloading package sentence_polarity to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package sentence_polarity is already up-to-date!
[nltk_data]    | Downloading package shakespeare to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package shakespeare is already up-to-date!
[nltk_data]    | Downloading package sinica_treebank to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package sinica_treebank is already up-to-date!
[nltk_data]    | Downloading package smultron to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package smultron is already up-to-date!
[nltk_data]    | Downloading package state_union to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package state_union is already up-to-date!
[nltk_data]    | Downloading package stopwords to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package stopwords is already up-to-date!
[nltk_data]    | Downloading package subjectivity to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package subjectivity is already up-to-date!
[nltk_data]    | Downloading package swadesh to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package swadesh is already up-to-date!
[nltk_data]    | Downloading package switchboard to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package switchboard is already up-to-date!
[nltk_data]    | Downloading package timit to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package timit is already up-to-date!
[nltk_data]    | Downloading package toolbox to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package toolbox is already up-to-date!
[nltk_data]    | Downloading package treebank to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package treebank is already up-to-date!
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package twitter_samples is already up-to-date!
[nltk_data]    | Downloading package udhr to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package udhr is already up-to-date!
[nltk_data]    | Downloading package udhr2 to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package udhr2 is already up-to-date!
[nltk_data]    | Downloading package unicode_samples to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package unicode_samples is already up-to-date!
[nltk_data]    | Downloading package universal_treebanks_v20 to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package universal_treebanks_v20 is already up-to-
[nltk_data]    |       date!
[nltk_data]    | Downloading package verbnet to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package verbnet is already up-to-date!
[nltk_data]    | Downloading package verbnet3 to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package verbnet3 is already up-to-date!
[nltk_data]    | Downloading package webtext to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package webtext is already up-to-date!
[nltk_data]    | Downloading package wordnet to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wordnet is already up-to-date!
[nltk_data]    | Downloading package wordnet_ic to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wordnet_ic is already up-to-date!
[nltk_data]    | Downloading package words to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package words is already up-to-date!
[nltk_data]    | Downloading package ycoe to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package ycoe is already up-to-date!
[nltk_data]    | Downloading package rslp to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package rslp is already up-to-date!
[nltk_data]    | Downloading package maxent_treebank_pos_tagger to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package maxent_treebank_pos_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    | Downloading package universal_tagset to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package universal_tagset is already up-to-date!
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package maxent_ne_chunker is already up-to-date!
[nltk_data]    | Downloading package punkt to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package book_grammars to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package book_grammars is already up-to-date!
[nltk_data]    | Downloading package sample_grammars to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package sample_grammars is already up-to-date!
[nltk_data]    | Downloading package spanish_grammars to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package spanish_grammars is already up-to-date!
[nltk_data]    | Downloading package basque_grammars to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package basque_grammars is already up-to-date!
[nltk_data]    | Downloading package large_grammars to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package large_grammars is already up-to-date!
[nltk_data]    | Downloading package tagsets to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package tagsets is already up-to-date!
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...

[nltk_data]    |   Package snowball_data is already up-to-date!
[nltk_data]    | Downloading package bllip_wsj_no_aux to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package bllip_wsj_no_aux is already up-to-date!
[nltk_data]    | Downloading package word2vec_sample to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package word2vec_sample is already up-to-date!
[nltk_data]    | Downloading package panlex_swadesh to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package panlex_swadesh is already up-to-date!
[nltk_data]    | Downloading package mte_teip5 to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package mte_teip5 is already up-to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger_ru to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger_ru is already
[nltk_data]    |       up-to-date!
[nltk_data]    | Downloading package perluniprops to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package perluniprops is already up-to-date!
[nltk_data]    | Downloading package nonbreaking_prefixes to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package nonbreaking_prefixes is already up-to-date!
[nltk_data]    | Downloading package vader_lexicon to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package vader_lexicon is already up-to-date!
[nltk_data]    | Downloading package porter_test to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package porter_test is already up-to-date!
[nltk_data]    | Downloading package wmt15_eval to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wmt15_eval is already up-to-date!
[nltk_data]    | Downloading package mwa_ppdb to
[nltk_data]    |     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]    |   Package mwa_ppdb is already up-to-date!
[nltk_data]    |
[nltk_data]  Done downloading collection all

In [187]:
#reading the labeled dataset
df=pd.read_csv('labeled_data.csv')

In [188]:
# Checking the top few rows of the dataframe
df.head()

                                                text  label
0  The new rule is - \r\nif you are waiting for a...      4
1  Flirted with giving this two stars, but that's...      3
2  I was staying at planet Hollywood across the s...      5
3  Food is good but prices are super expensive.  ...      2
4  Worse company to deal with they do horrible wo...      1

## Pre-processing labeled data and feature extraction

In this step, we clean the raw text by performing several tasks as mentioned below:
1. Normalizing the raw text
2. Handling Contractions
3. Removing punctuations
4. Number Encoding
5. Removing spaces, newline characters
6. Tokenization
7. Certain stopwords removal
8. Processing Bigrams and Trigrams

First, we preprocess the labeled dataset, extract features in the labeled dataset and build models

In [189]:
# Make a list of relevant POS tags since we do not care about the rest
POS_TAGS=['CC','JJ','JJR','JJS','RBR','RBS','MD','PDT','VB','VBD','VBG','VBN',\
          'VBP','VBZ','WRB','WP','WDT']

In [190]:
#function to clean the raw text where we convert the raw text to lower case, 
#expand contractions such as can't to cannot, remove punctuations, newline characters,
#tabs, tokenize the raw text
def CleanData(row_id,raw_text):
    cleaned_text = list()
    
    # Lower case
    proc_text=raw_text.lower()
    
    # Handling Contractions
    # specific
    proc_text = re.sub(r"won\'t", "will not", proc_text)
    proc_text = re.sub(r"can\'t", "can not", proc_text)
    # general
    proc_text = re.sub(r"n\'t", " not", proc_text)
    proc_text = re.sub(r"\'re", " are", proc_text)
    proc_text = re.sub(r"\'s", " is", proc_text)
    proc_text = re.sub(r"\'d", " would", proc_text)
    proc_text = re.sub(r"\'ll", " will", proc_text)
    proc_text = re.sub(r"\'t", " not", proc_text)
    proc_text = re.sub(r"\'ve", " have", proc_text)
    proc_text = re.sub(r"\'m", " am", proc_text)
    # Handling punctuations
    proc_text=re.sub(r'[^a-z\s0-9]',' ',proc_text)
    # Replacing all numbers with custom string
    proc_text=re.sub(r'\d+','NUM',proc_text)
    # Handling multiple spaces
    proc_text=re.sub(r'\s+', ' ',proc_text, flags=re.I)
    # Handling tabs and newline charecters
    proc_text=re.sub(r'\r|\n|\t','',proc_text)
    # Tokenizing
    tokens = RegexpTokenizer(r"[\w]{2,}").tokenize(proc_text)
    # Appending to new list
    cleaned_text=tokens
    return (row_id,cleaned_text)

In [191]:
#removing unwanted characters such as \r\n\t and preserving the emojis
df['emojis'] = [None]*df.shape[0]
for row_id, row in df.iterrows():
    text = row.text
    text = re.sub(r'\r|\n|\t','',text)
    emojis = re.findall(r'(:\)|:\(|:\-\(|:\-\)|:\*|:\-\*|:\/|:\-\/|;\)|:D)',text)
    text = re.sub(r'[^A-Za-z0-9]',' ',text)
    text = re.sub(r'\s+',' ',text)
    text = text.split()
    df['num_emojis'] = len(emojis)

In [192]:
#function to calculate the word density or average word length
def avgWordLength(text):
    words = text.split()
    word_lengths = [len(word) for word in words]
    return np.mean(word_lengths)

Here, we extract several feature based numerical columns such as word counts, character counts, word density, punctuation counts, total length, capital word count, exclamation and question mark count, unique words count, etc.

In [193]:
#function to extract quantitative features
punc = ['.',',','/',':',';','-','(',')']

def extract_features(df) :
    df['word_count'] = df['text'].apply(lambda x : len(x.split()))
    df['char_count'] = df['text'].apply(lambda x : len(x.replace(" ","")))
    df['word_density'] = df['text'].apply(avgWordLength)
    df['punc_count'] = df['text'].apply(lambda x : len([a for a in x if a in punc]))
    df['total_length'] = df['text'].apply(len)
    df['capitals'] = df['text'].apply(lambda comment: sum(1 for c in comment.split() if len(c)>1 and c.isupper()))
    df['caps_vs_length'] = df.apply(lambda row: float(row['capitals'])/float(row['word_count']),axis=1)
    df['num_exclamation_marks'] =df['text'].apply(lambda x: x.count('!'))
    df['num_question_marks'] = df['text'].apply(lambda x: x.count('?'))
    df['num_unique_words'] = df['text'].apply(lambda x: len(set(w for w in x.split())))
    df['words_vs_unique'] = df['num_unique_words'] / df['word_count']
    print('Done')
    return df

In [194]:
# run the feature extraction function, and store the new columns generated into our original dataframe
df=extract_features(df)

Done

In [195]:
# Make a list of custom stop words 
nltk.download('stopwords')
stop_words = list(set(stopwords.words('english')))

to_keep = ['against', "aren't", 'couldn', "couldn't", 'didn', "didn't",\
                 'doesn', "doesn't", 'don', "don't", 'few', "further", 'hadn', "hadn't", \
                 'has', 'hasn', "hasn't", "haven", "haven't", 'isn', "isn't", 'might',\
                 "mightn't", 'mustn', "mustn't", "needn't", "not", "no", "nor", "off",\
                  "shan't", "should", "should've", "shouldn't",\
                 "some", "such", "under", "until", "very", "wasn't", "weren't","wouldn't",\
                 'ain', 'aren', 'wasn', 'weren', "weren't", 'won', "won't", 'wouldn']

stop_words = [words for words in stop_words if not words in to_keep]

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\rkoc0004\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [196]:
# taking a look into the new columns generated
df.columns

Index(['text', 'label', 'emojis', 'num_emojis', 'word_count', 'char_count',
       'word_density', 'punc_count', 'total_length', 'capitals',
       'caps_vs_length', 'num_exclamation_marks', 'num_question_marks',
       'num_unique_words', 'words_vs_unique'],
      dtype='object')

<b> Further, we select the best features amongst the list of features on the basis of how they are related to each other. 
So, we consider features such as capital word count, word count, number of exclamation and question marks, number of unique words and unique word ratio as our best features.<b>

In [197]:
# making a copy of the dataframe to ensure re-usability in case of errors
df1 = df.copy()
print('checkpoint')

checkpoint

In [198]:
#feature selection step
#keeping the best features and dropping the rest
drop_list = ['emojis', 'char_count', 'word_density', 'punc_count', 'total_length',
       'caps_vs_length']
df.drop(columns=drop_list, axis = 1, inplace=True)
df.head()

,text,label,num_emojis,word_count,capitals,num_exclamation_marks,num_question_marks,num_unique_words,words_vs_unique
0,The new rule is - \r\nif you are waiting for a...,4,0,111,2,0,1,86,0.774775
1,"Flirted with giving this two stars, but that's...",3,0,206,0,0,0,144,0.699029
2,I was staying at planet Hollywood across the s...,5,0,111,0,1,0,79,0.711712
3,Food is good but prices are super expensive. ...,2,0,130,0,0,1,98,0.753846
4,Worse company to deal with they do horrible wo...,1,0,124,0,0,0,79,0.637097

We now make a study into the more relevant words by conducting a review into the top bigrams and relevant pos tags.

We then use these to make a cleaned data column which will then be used as tfidf features in our models.

We start by making a document-token pairing of all the current words, and use them to make bigrams. These bigrams are then filtered based on their importance score, which we have taken to be the **Point-wise Mutual Information** scores.

The top 800 bigrams have been taken based on these scores, and those bigrams have been POS tagged.

Following this, we have kept those bigrams which have relevant POS tags, and removed the rest. 

These bigrams were then re-tokenized by the MWETokenizer, and then put into a new dataframe.

In [199]:
# Document-token pairing by making a dictionary where the keys are the doc ids and the values are
# the tokens in the document
tokenized_reuters =  dict(CleanData(row_id,row['text']) for row_id,row in df.iterrows())

In [200]:
# list of all words in the dataset
words = list(chain.from_iterable(tokenized_reuters.values()))

In [201]:
# List of important words which do not appead in the stop words list created earlier
words_imp = [w for w in words if not w in stop_words]

In [202]:
# finding bigrams and trigrams
bigrams = nltk.collocations.BigramAssocMeasures()
bigramFinder = nltk.collocations.BigramCollocationFinder.from_words(words_imp)

In [203]:
# finding the most meaningful bigrams by using high pmi scores
best_bigrams=bigramFinder.nbest(bigrams.pmi, 800)

In [204]:
# Choose the relevant bigrams which have the POS tags we desire
# Add them to a tagged list
pos_tagged = list()
for bigram in best_bigrams:
    tagged_sentence = nltk.tag.pos_tag([bigram[0].strip('\''),bigram[1].strip('\'')])
    
    if tagged_sentence[0][1] in POS_TAGS or tagged_sentence[1][1] in POS_TAGS:
        pos_tagged.append((tagged_sentence[0][0],tagged_sentence[1][0]))

In [205]:
# Tokenizing the multi-word entities
mwetokens = MWETokenizer(pos_tagged)

In [206]:
# setting a collocations dictionary
colloc_units = dict()
for key, value in tokenized_reuters.items():
    colloc_units[key] = mwetokens.tokenize(value)

In [208]:
# We now make a new dataframe which has the cleaned text, made more relevant by pos tagging and top bigram selection in it's
# text column
# We use the same ids and columns from the original dataframe

ids = [i for i in range(0,df.shape[0])]
df['ids'] = ids
train_df=pd.DataFrame(colloc_units.items(), columns=['ids','text'])
train_df['text']=train_df['text'].astype(str)
train_df['label'] = df['label']
train_df['word_count'] = df['word_count']
train_df['capitals'] = df['capitals']
train_df['num_exclamation_marks'] = df['num_exclamation_marks']
train_df['num_question_marks'] = df['num_question_marks']
train_df['num_unique_words'] = df['num_unique_words']
train_df['words_vs_unique'] = df['words_vs_unique']
train_df.head()

,ids,text,label,word_count,capitals,num_exclamation_marks,num_question_marks,num_unique_words,words_vs_unique
0,0,"['the', 'new', 'rule', 'is', 'if', 'you', 'are...",4,111,2,0,1,86,0.774775
1,1,"['flirted', 'with', 'giving', 'this', 'two', '...",3,206,0,0,0,144,0.699029
2,2,"['was', 'staying', 'at', 'planet', 'hollywood'...",5,111,0,1,0,79,0.711712
3,3,"['food', 'is', 'good', 'but', 'prices', 'are',...",2,130,0,0,1,98,0.753846
4,4,"['worse', 'company', 'to', 'deal', 'with', 'th...",1,124,0,0,0,79,0.637097

We chose to de-tokenize the tokens before making TF-IDF features. Thus we have merged them so that they form coherent sentences instead of appearing as a list of tokens.

In [209]:
#function to merge the list of tokens into strings
def merge_tokens(x):
    x = re.sub(r'\[|\]','',x)
    x = re.sub(r'[\'\']','',x)
    x = re.sub(r',','',x)
    return x
train_df['text'] = train_df['text'].apply(merge_tokens)

In [210]:
train_df.head()

,ids,text,label,word_count,capitals,num_exclamation_marks,num_question_marks,num_unique_words,words_vs_unique
0,0,the new rule is if you are waiting for table w...,4,111,2,0,1,86,0.774775
1,1,flirted with giving this two stars but that is...,3,206,0,0,0,144,0.699029
2,2,was staying at planet hollywood across the str...,5,111,0,1,0,79,0.711712
3,3,food is good but prices are super expensive NU...,2,130,0,0,1,98,0.753846
4,4,worse company to deal with they do horrible wo...,1,124,0,0,0,79,0.637097

In [211]:
# max_features is an upper bound on the number of words in the vocabulary that will be made once the vectorizer runs
max_features = 40000

In [212]:
# train test split (80:20 ratio)
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(train_df.drop(columns=['label','ids'], axis=1), df.label, \
                                                    test_size=0.2, random_state=42)

In [213]:
# Taking a look at our training split
X_train

,text,word_count,capitals,num_exclamation_marks,num_question_marks,num_unique_words,words_vs_unique
39087,have never been so out done lucille is we were...,194,0,2,0,125,0.644330
30893,this is my go to spot always try something new...,35,0,1,0,27,0.771429
45278,would say meh but all in all it is not terribl...,214,2,0,0,138,0.644860
16398,this place has large variety of drinks and sna...,121,0,0,0,89,0.735537
13653,horrid own business and do deposits daily have...,77,3,4,0,61,0.792208
...,...,...,...,...,...,...,...
11284,this is hidden gem in king west this is my go ...,63,0,3,0,49,0.777778
44732,am vegas clubbing veteran would rather not dis...,279,3,1,0,185,0.663082
38158,great staff great vet had great experience wit...,21,0,1,0,19,0.904762
860,have loved this restaurant since the first tim...,72,0,1,0,56,0.777778
15795,my nail tech candy deserves NUM stars she is f...,113,0,1,0,80,0.707965

In [214]:
# taking a look at our training split labels
y_train

39087    1
30893    5
45278    3
16398    3
13653    2
        ..
11284    5
44732    5
38158    5
860      5
15795    2
Name: label, Length: 40000, dtype: int64

In [215]:
# we take the numerical columns into this new list
textcountscols = X_train.columns[1:]

In [ ]:
# Since we have numerical features, we need to normalise them so that there is to ambiguity in their scales
# Furthermore after the creation of the new dataframe, some columns have a datatype of "Object",
# which needs to be converted to numeric

# 1. Conversion of datatype
# 2. Min-Max Feature Scaling to scale the features
for colname in textcountscols:
    X_train[colname] = pd.to_numeric(X_train[colname])
    X_train[colname] = (X_train[colname]-X_train[colname].min())/(X_train[colname].max()-X_train[colname].min())
X_train.dtypes

In [217]:
for colname in textcountscols:
    X_test[colname] = pd.to_numeric(X_test[colname])
    X_test[colname] = (X_test[colname]-X_test[colname].min())/(X_test[colname].max()-X_test[colname].min())
X_test.dtypes

text                      object
word_count               float64
capitals                 float64
num_exclamation_marks    float64
num_question_marks       float64
num_unique_words         float64
words_vs_unique          float64
dtype: object

In [218]:
# Class for custom feature extraction pipeline
from sklearn.base import BaseEstimator, TransformerMixin
class ColumnExtractor(TransformerMixin, BaseEstimator):
    def __init__(self, cols):
        self.cols = cols
    def transform(self, X, **transform_params):
        return X[self.cols]
    def fit(self, X, y=None, **fit_params):
        return self

## Model Development

We have considered 3 Models for our classification task:

1. Logisitc Regression
2. Multinomial Naive Bayes
3. Ensembled model of Logistic and Naive Bayes, and a Stacked model which consists of the ensembled model, and the base logistic and naive bayes models. 

**NOTE** Only the logistic model gives the highest accuracy so we have removed the code for the implementation of the other models.


###  Logistic Regression Model

In [220]:
# Building the logistic regression model by integrating custom features using FeatureUnion 
# and vectorizing those features using TF-IDF Vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline, FeatureUnion

tfidf_vect= TfidfVectorizer(use_idf=True, sublinear_tf = True, max_features = max_features, lowercase=False,\
                            token_pattern=r'\w{2,}', ngram_range=(1,3), encoding='utf-8')

features = FeatureUnion([('textcounts', ColumnExtractor(cols=textcountscols)),\
                           ('pipe', Pipeline([('cleantext', ColumnExtractor(cols='text')), ('vect', tfidf_vect)]))])
log_model = Pipeline([('features', features),
                        ('log', OneVsRestClassifier(log_r(random_state=0, C=1.01, solver='lbfgs')))])

In [221]:
#model fitting
log_model.fit(X_train.fillna(' '), y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

Pipeline(memory=None,
         steps=[('features',
                 FeatureUnion(n_jobs=None,
                              transformer_list=[('textcounts',
                                                 ColumnExtractor(cols=Index(['word_count', 'capitals', 'num_exclamation_marks', 'num_question_marks',
       'num_unique_words', 'words_vs_unique'],
      dtype='object'))),
                                                ('pipe',
                                                 Pipeline(memory=None,
                                                          steps=[('cleantext',
                                                                  ColumnExtractor(cols='text')),
                                                                 ('vect',
                                                                  TfidfVectoriz...
                                                          verbose=False))],
                              transformer_weights=None, verbose=False)),
                ('log',
                 OneVsRestClassifier(estimator=LogisticRegression(C=1.01,
                                                                  class_weight=None,
                                                                  dual=False,
                                                                  fit_intercept=True,
                                                                  intercept_scaling=1,
                                                                  l1_ratio=None,
                                                                  max_iter=100,
                                                                  multi_class='warn',
                                                                  n_jobs=None,
                                                                  penalty='l2',
                                                                  random_state=0,
                                                                  solver='lbfgs',
                                                                  tol=0.0001,
                                                                  verbose=0,
                                                                  warm_start=False),
                                     n_jobs=None))],
         verbose=False)

In [222]:
#reporting the accuracy of the model
y_log_pred = log_model.predict(X_test.fillna(' '))
print("Accuracy:",accuracy_score(y_test, y_log_pred))

Accuracy: 0.61

<b> The accuracy shown by the logistic regression model is 61% on the labelled dataset.<b>

<b> The accuracy shown by the ensemble model is 60.07% on the labelled dataset <b>

<b> The accuracy shown by the stacking model is 60.24% on the labelled dataset <b>

<b> Out of the above 3 models, we have chosen the best model as Logistic Regression since it gives an high accuracy. </b> <br>
We further use that model to predict labels on the unlabelled dataset as shown in the steps below.

First, we pass the unlabelled dataset to the preprocessing pipeline in a similar fashion as we did it for the labelled dataset.

## Pre-processing unlabeled data and feature extraction

## We have followed the same pre-processing and feature extraction steps as above.

In [231]:
#reading the unlabeled dataset
unlabeled=pd.read_csv('unlabeled_data.csv')
unlabeled.head()

                                                text
0  Had a good experience when my wife and I sat a...
1  On my first to Montreal with my gf we came her...
2  One of our favorite places to go when it's col...
3  The doctor was very nice, got in in a good amo...
4  The Nook is an immediate phoenix staple!  I ca...

Through some visual analysis, we see that labeled dataset is a subset of unlabeled dataset. So, we drop those rows from the unlabeled dataset which exist in the labeled dataset by performing an outer join on both the datasets as shown below.

In [233]:
#merging two datasets using outerjoin
new_df=pd.merge(df, unlabeled, on='text', how='outer')
new_df.head(2)

,text,label,num_emojis,word_count,capitals,num_exclamation_marks,num_question_marks,num_unique_words,words_vs_unique,ids
0,The new rule is - \r\nif you are waiting for a...,4.0,0.0,111.0,2.0,0.0,1.0,86.0,0.774775,0.0
1,"Flirted with giving this two stars, but that's...",3.0,0.0,206.0,0.0,0.0,0.0,144.0,0.699029,1.0

In [234]:
#length of new dataframe
len(new_df)

605123

In [235]:
#checking for NaN values
new_df.isnull().sum()

text                          0
label                    554909
num_emojis               554909
word_count               554909
capitals                 554909
num_exclamation_marks    554909
num_question_marks       554909
num_unique_words         554909
words_vs_unique          554909
ids                      554909
dtype: int64

We further see that the outer join creates NaN values in the quantitative features columns and label columns. We want those rows which have NaN values as a part of our final unlabeled dataset. In this way, duplicate rows have been removed from the unlabeled dataset.

In [236]:
#final unlabeled dataset
unlabeled = new_df[new_df['label'].isnull()]
unlabeled.head()

,text,label,num_emojis,word_count,capitals,num_exclamation_marks,num_question_marks,num_unique_words,words_vs_unique,ids
50214,Had a good experience when my wife and I sat a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50215,On my first to Montreal with my gf we came her...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50216,One of our favorite places to go when it's col...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50217,"The doctor was very nice, got in in a good amo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50218,The Nook is an immediate phoenix staple! I ca...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now, we remove those columns having NaN and use this updated unlabeled dataset for preprocessing and feature extraction

In [237]:
unlabeled.drop(columns=['label','num_emojis','word_count','capitals','num_exclamation_marks','num_question_marks','num_unique_words','words_vs_unique','ids'], axis=1, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [238]:
unlabeled.head(2)

                                                    text
50214  Had a good experience when my wife and I sat a...
50215  On my first to Montreal with my gf we came her...

In [239]:
len(unlabeled)

554909

Further, we pass the unlabeled data to the feature extraction function where we generate some quantitative features for the textual data.

In [240]:
#extracting features
unlabeled=extract_features(unlabeled)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

Done

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

We preserve the best features and drop the irrelevant features.

In [241]:
#keeping the  best features
drop_list = ['char_count', 'word_density', 'punc_count', 'total_length',
       'caps_vs_length']
unlabeled.drop(columns=drop_list, axis = 1, inplace=True)
unlabeled.head()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,text,word_count,capitals,num_exclamation_marks,num_question_marks,num_unique_words,words_vs_unique
50214,Had a good experience when my wife and I sat a...,90,0,0,0,73,0.811111
50215,On my first to Montreal with my gf we came her...,296,0,0,0,193,0.652027
50216,One of our favorite places to go when it's col...,27,0,1,0,26,0.962963
50217,"The doctor was very nice, got in in a good amo...",140,2,3,0,97,0.692857
50218,The Nook is an immediate phoenix staple! I ca...,197,0,1,0,126,0.639594

Now, we pass the textual data to the preprocessing function where the raw reviews are being cleaned. We further remove the stopwords from the entire corpus of reviews and generate best bigrams on the basis of pointwise mutual information (pmi) score.

In [242]:
# Document token pairing by making a dictionary where the keys are the doc ids and the values are
# the tokens in the document
tokenized_reuters =  dict(CleanData(row_id,row['text']) for row_id,row in unlabeled.iterrows())


# list of all words in the dataset
words = list(chain.from_iterable(tokenized_reuters.values()))

# list of words not in stop words
words_imp = [w for w in words if not w in stop_words]

In [243]:
bigrams = nltk.collocations.BigramAssocMeasures()
bigramFinder = nltk.collocations.BigramCollocationFinder.from_words(words_imp)

In [244]:
# finding the most meaningful bigrams by using high pmi scores
best_bigrams=bigramFinder.nbest(bigrams.pmi, 800)

In [245]:
# Choose the relevant bigrams which have the POS tags we desire
# Add them to a tagged list
pos_tagged = list()
for bigram in best_bigrams:
    tagged_sentence = nltk.tag.pos_tag([bigram[0].strip('\''),bigram[1].strip('\'')])
    
    if tagged_sentence[0][1] in POS_TAGS or tagged_sentence[1][1] in POS_TAGS:
        pos_tagged.append((tagged_sentence[0][0],tagged_sentence[1][0]))

Further, we tokenize the multi-word bigrams using MWETokenizer as shown below.

In [246]:
# Tokenizing the multi-word entities
mwetokens = MWETokenizer(pos_tagged)

colloc_units = dict()
for key, value in tokenized_reuters.items():
    colloc_units[key] = mwetokens.tokenize(value)

In [247]:
ids = [i for i in range(0,unlabeled.shape[0])]
unlabeled['ids'] = ids

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [248]:
#extracting data from dictionary into a dataframe
train_df_unlab=pd.DataFrame(colloc_units.items(), columns=['ids','text'])
train_df_unlab['text']=train_df_unlab['text'].astype(str)

In [249]:
train_df_unlab.head(2)

     ids                                               text
0  50214  ['had', 'good', 'experience', 'when', 'my', 'w...
1  50215  ['on', 'my', 'first', 'to', 'montreal', 'with'...

In [250]:
train_df_unlab.set_index('ids', inplace=True)

In [251]:
#appending the quantitative features from unlabeled dataset to new dataset
train_df_unlab['word_count'] = unlabeled['word_count']

In [252]:
train_df_unlab['capitals'] = unlabeled['capitals']
train_df_unlab['num_exclamation_marks'] = unlabeled['num_exclamation_marks']
train_df_unlab['num_question_marks'] = unlabeled['num_question_marks']
train_df_unlab['num_unique_words'] = unlabeled['num_unique_words']
train_df_unlab['words_vs_unique'] = unlabeled['words_vs_unique']
train_df_unlab.head()

,text,word_count,capitals,num_exclamation_marks,num_question_marks,num_unique_words,words_vs_unique
ids,,,,,,,
50214,"['had', 'good', 'experience', 'when', 'my', 'w...",90,0,0,0,73,0.811111
50215,"['on', 'my', 'first', 'to', 'montreal', 'with'...",296,0,0,0,193,0.652027
50216,"['one', 'of', 'our', 'favorite', 'places', 'to...",27,0,1,0,26,0.962963
50217,"['the', 'doctor', 'was', 'very', 'nice', 'got'...",140,2,3,0,97,0.692857
50218,"['the', 'nook', 'is', 'an', 'immediate', 'phoe...",197,0,1,0,126,0.639594

In [253]:
#merging the tokens into strings
train_df_unlab['text'] = train_df_unlab['text'].apply(merge_tokens)

In [254]:
train_df_unlab.head()

,text,word_count,capitals,num_exclamation_marks,num_question_marks,num_unique_words,words_vs_unique
ids,,,,,,,
50214,had good experience when my wife and sat at th...,90,0,0,0,73,0.811111
50215,on my first to montreal with my gf we came her...,296,0,0,0,193,0.652027
50216,one of our favorite places to go when it is co...,27,0,1,0,26,0.962963
50217,the doctor was very nice got in in good amount...,140,2,3,0,97,0.692857
50218,the nook is an immediate phoenix staple came h...,197,0,1,0,126,0.639594

In [255]:
#Min-Max Normalization of the extracted quantitative features.
for colname in textcountscols:
    train_df_unlab[colname] = pd.to_numeric(train_df_unlab[colname])
    train_df_unlab[colname] = (train_df_unlab[colname]-train_df_unlab[colname].min())/(train_df_unlab[colname].max()-\
                                                                                          train_df_unlab[colname].min())
train_df_unlab.dtypes

text                      object
word_count               float64
capitals                 float64
num_exclamation_marks    float64
num_question_marks       float64
num_unique_words         float64
words_vs_unique          float64
dtype: object

Now, we use the logistic model to predict the labels on the unlabelled dataset as shown below.

In [256]:
# Get the class probabilites
# predict_proba gives a vector of values which correspond to the probability of that observation belonging to each class
y_train_unlab_proba = log_model.predict_proba(train_df_unlab.fillna(' '))

In [257]:
#appending the probabilities to a dataframe
y_train_unlab_proba = list(y_train_unlab_proba)
y_train_unlab_proba

[array([0.30296795, 0.13528451, 0.28217507, 0.18408618, 0.0954863 ]),
 array([0.00619308, 0.12128443, 0.33860192, 0.36274745, 0.17117312]),
 array([0.03860827, 0.08587971, 0.08760938, 0.16113237, 0.62677026]),
 array([0.58803309, 0.17142658, 0.0997028 , 0.06039315, 0.08044438]),
 array([0.0073796 , 0.01551592, 0.12903339, 0.14341813, 0.70465297]),
 array([0.25572927, 0.20696401, 0.07486961, 0.20477561, 0.25766151]),
 array([0.02791756, 0.08525593, 0.08121778, 0.43761734, 0.36799139]),
 array([0.1794823 , 0.59406279, 0.19623708, 0.02262795, 0.00758988]),
 array([0.01160255, 0.03508851, 0.4207284 , 0.37811107, 0.15446948]),
 array([0.01453531, 0.1920774 , 0.32295283, 0.34370752, 0.12672694]),
 array([0.25467369, 0.34815149, 0.18434181, 0.07449309, 0.13833992]),
 array([0.1273478 , 0.14169209, 0.06688821, 0.10035799, 0.56371391]),
 array([0.14260298, 0.27113736, 0.33286977, 0.19499746, 0.05839243]),
 array([0.00360046, 0.00529366, 0.00965459, 0.26627194, 0.71517935]),
 array([0.0244877 , 0.02700747, 0.06922786, 0.27777551, 0.60150146]),
 array([0.00976865, 0.06140458, 0.1912664 , 0.50593844, 0.23162193]),
 array([0.40765525, 0.16088896, 0.13334869, 0.16106781, 0.13703928]),
 array([0.72218541, 0.11499544, 0.03298236, 0.03489401, 0.09494278]),
 array([0.28242547, 0.26215027, 0.31144595, 0.12164638, 0.02233193]),
 array([0.01472385, 0.0776258 , 0.14711313, 0.63008327, 0.13045394]),
 array([0.01317307, 0.06840656, 0.17134484, 0.38448179, 0.36259375]),
 array([0.00545497, 0.04931896, 0.30935664, 0.60196556, 0.03390387]),
 array([0.67309305, 0.28428869, 0.01682183, 0.00784723, 0.0179492 ]),
 array([0.29493524, 0.50481011, 0.15054597, 0.032958  , 0.01675068]),
 array([0.00510005, 0.09947222, 0.51060342, 0.32804734, 0.05677697]),
 array([0.02073579, 0.10924442, 0.36694926, 0.47635153, 0.026719  ]),
 array([0.10122949, 0.55331425, 0.2553441 , 0.06476499, 0.02534718]),
 array([0.01264148, 0.06951539, 0.27033402, 0.48603716, 0.16147195]),
 array([0.04944361, 0.06895106, 0.09003622, 0.47792228, 0.31364684]),
 array([0.03781779, 0.05949399, 0.02893674, 0.23522615, 0.63852533]),
 array([0.03749284, 0.08768086, 0.31393289, 0.44982024, 0.11107316]),
 array([0.79943632, 0.10621236, 0.02819286, 0.02503036, 0.0411281 ]),
 array([0.00852998, 0.01539421, 0.04703595, 0.33192905, 0.59711081]),
 array([0.25755447, 0.06400603, 0.03516187, 0.08597644, 0.55730119]),
 array([0.11927062, 0.22497365, 0.26849282, 0.25222109, 0.13504182]),
 array([0.02832979, 0.04766378, 0.14169139, 0.20479716, 0.57751788]),
 array([0.59157878, 0.31064352, 0.03592023, 0.03890933, 0.02294814]),
 array([0.37330302, 0.38915266, 0.12066728, 0.06921188, 0.04766517]),
 array([0.00498674, 0.09950693, 0.62101353, 0.24435697, 0.03013583]),
 array([0.01885848, 0.03665397, 0.04047908, 0.27243024, 0.63157823]),
 array([0.03259617, 0.15585447, 0.2682671 , 0.4020434 , 0.14123887]),
 array([0.09726228, 0.17852868, 0.23557668, 0.37908611, 0.10954625]),
 array([0.08413453, 0.20802028, 0.44967793, 0.19735226, 0.060815  ]),
 array([0.08531822, 0.39218026, 0.41771629, 0.06483969, 0.03994554]),
 array([0.60752883, 0.1199592 , 0.1265874 , 0.05997668, 0.08594788]),
 array([0.02316707, 0.12306339, 0.30568033, 0.47489399, 0.07319522]),
 array([0.19915912, 0.18393079, 0.11740168, 0.32992126, 0.16958714]),
 array([0.06963404, 0.19046931, 0.43393488, 0.20998597, 0.0959758 ]),
 array([0.46325554, 0.25131198, 0.05439548, 0.09456811, 0.1364689 ]),
 array([0.46325554, 0.25131198, 0.05439548, 0.09456811, 0.1364689 ]),
 array([0.08025009, 0.15064319, 0.22985822, 0.51291581, 0.02633269]),
 array([0.04003306, 0.09849395, 0.40064982, 0.3462793 , 0.11454387]),
 array([0.31044534, 0.44901394, 0.14897821, 0.04685335, 0.04470916]),
 array([0.01366477, 0.03905532, 0.14660819, 0.55060575, 0.25006597]),
 array([0.00234384, 0.04861409, 0.28453965, 0.55303046, 0.11147195]),
 array([0.06426491, 0.1091045 , 0.27374245, 0.50803984, 0.04484829]),
 array([0.06394702, 0.08648291, 0.06385584, 0.41496405, 0.37075018]),
 array([0.04721738, 0.16971522, 0.53235645, 0.19507914, 0.05563181]),
 array([0.01644301, 0.16261367, 0.45953207, 0.34688537, 0.01452589]),
 array([0.71336754, 0.12923809, 0.05290841, 0.02865622, 0.07582975]),
 array([0.01518   , 0.08288793, 0.14900927, 0.54340051, 0.20952229]),
 array([0.44169632, 0.2020101 , 0.16976293, 0.0595252 , 0.12700545]),
 array([0.4031255 , 0.37208878, 0.08986365, 0.05871471, 0.07620736]),
 array([0.15048565, 0.44710146, 0.20921835, 0.09623127, 0.09696327]),
 array([0.00433877, 0.01704773, 0.04592111, 0.5031879 , 0.42950448]),
 array([0.31234846, 0.36913505, 0.14881146, 0.06040765, 0.10929739]),
 array([0.06063758, 0.1157502 , 0.35413493, 0.3410042 , 0.12847309]),
 array([0.01594818, 0.04022522, 0.06563557, 0.22173429, 0.65645675]),
 array([0.03821679, 0.08541282, 0.10435114, 0.46063839, 0.31138086]),
 array([0.03356492, 0.27699981, 0.5176025 , 0.15703819, 0.01479459]),
 array([0.00769722, 0.11498674, 0.37559417, 0.44579976, 0.05592212]),
 array([0.01243652, 0.23782164, 0.44093488, 0.25607005, 0.05273691]),
 array([0.04866712, 0.15971952, 0.38604782, 0.20985496, 0.19571057]),
 array([0.05508678, 0.123967  , 0.36296305, 0.38984832, 0.06813485]),
 array([0.43083154, 0.06765475, 0.03366672, 0.0447926 , 0.42305439]),
 array([0.00861758, 0.00608097, 0.03584342, 0.4639633 , 0.48549472]),
 array([0.00212355, 0.002551  , 0.07051354, 0.43208718, 0.49272473]),
 array([0.31264545, 0.37027324, 0.2446109 , 0.02774972, 0.04472069]),
 array([0.24462263, 0.35913632, 0.30868765, 0.04123557, 0.04631784]),
 array([0.85994108, 0.08807132, 0.03563399, 0.00692393, 0.00942967]),
 array([0.00339834, 0.10052248, 0.45106857, 0.38149368, 0.06351693]),
 array([0.05076358, 0.03852944, 0.09016874, 0.19384692, 0.62669131]),
 array([0.69019029, 0.12482673, 0.04055143, 0.03650001, 0.10793154]),
 array([0.08346537, 0.10028179, 0.23280416, 0.42704983, 0.15639885]),
 array([0.40701562, 0.1937849 , 0.11793995, 0.25241518, 0.02884434]),
 array([0.11481848, 0.15108273, 0.26549508, 0.37619518, 0.09240853]),
 array([0.00641873, 0.05506988, 0.45354081, 0.32694675, 0.15802383]),
 array([0.01910204, 0.06838126, 0.02351118, 0.44377931, 0.44522621]),
 array([0.06299872, 0.09739817, 0.18859008, 0.30470849, 0.34630453]),
 array([0.00424911, 0.06754351, 0.22545685, 0.57988135, 0.12286918]),
 array([0.00924506, 0.21442017, 0.42358078, 0.29105344, 0.06170054]),
 array([0.00766299, 0.01489073, 0.06856841, 0.17256039, 0.73631748]),
 array([0.00603334, 0.01997331, 0.04812991, 0.45295175, 0.47291169]),
 array([0.50949133, 0.13307665, 0.08252298, 0.05636138, 0.21854767]),
 array([0.02271138, 0.01944055, 0.0461497 , 0.24670965, 0.66498872]),
 array([0.05854158, 0.1373442 , 0.25464498, 0.44086973, 0.10859951]),
 array([0.01715682, 0.15129571, 0.15596183, 0.36021873, 0.3153669 ]),
 array([0.46321955, 0.38828942, 0.08714578, 0.02362738, 0.03771787]),
 array([0.59126285, 0.26221434, 0.05540978, 0.02840119, 0.06271184]),
 array([0.05428993, 0.21594268, 0.64231226, 0.07094703, 0.0165081 ]),
 array([0.65823389, 0.19364241, 0.09548279, 0.03064543, 0.02199548]),
 array([0.09529361, 0.07540634, 0.21803664, 0.22215293, 0.38911048]),
 array([0.01839522, 0.16303196, 0.3004252 , 0.37990973, 0.1382379 ]),
 array([0.00521072, 0.11447305, 0.26790398, 0.57558921, 0.03682304]),
 array([0.46720144, 0.36187841, 0.0956517 , 0.06777684, 0.00749161]),
 array([0.2136433 , 0.18810003, 0.13653959, 0.34447871, 0.11723836]),
 array([0.29169045, 0.1453994 , 0.0890481 , 0.27991721, 0.19394484]),
 array([0.0222256 , 0.04679123, 0.20888199, 0.41915007, 0.30295112]),
 array([0.24305081, 0.42228843, 0.11052173, 0.08509208, 0.13904696]),
 array([0.18641603, 0.64527744, 0.08588161, 0.0460994 , 0.03632551]),
 array([0.00716016, 0.11704334, 0.44055991, 0.40226887, 0.03296771]),
 array([0.45597789, 0.28041378, 0.10454417, 0.13507059, 0.02399357]),
 array([0.00736416, 0.0183236 , 0.03876507, 0.12174985, 0.81379732]),
 array([0.01506298, 0.07995847, 0.40999003, 0.40213907, 0.09284945]),
 array([0.11729496, 0.54960628, 0.17027796, 0.08077186, 0.08204894]),
 array([0.09089994, 0.16066687, 0.16707269, 0.27159709, 0.30976341]),
 array([0.32276753, 0.46891768, 0.16338717, 0.02734788, 0.01757973]),
 array([0.09834189, 0.56360398, 0.26823697, 0.06491584, 0.00490131]),
 array([0.66574808, 0.26473162, 0.03136636, 0.01706276, 0.02109118]),
 array([0.04509129, 0.3287264 , 0.40033916, 0.15373435, 0.0721088 ]),
 array([0.0441626 , 0.34066753, 0.37436351, 0.10617704, 0.13462932]),
 array([0.0613126 , 0.11849486, 0.28782591, 0.33436249, 0.19800414]),
 array([0.1809659 , 0.08586051, 0.11827873, 0.14770492, 0.46718993]),
 array([0.05649882, 0.15221796, 0.23661906, 0.34574824, 0.20891592]),
 array([0.060919  , 0.42964717, 0.25894438, 0.21441187, 0.03607758]),
 array([0.27179296, 0.15953963, 0.13256563, 0.19800875, 0.23809302]),
 array([0.05010813, 0.25693636, 0.42718719, 0.21800914, 0.04775918]),
 array([0.00358797, 0.01036066, 0.01709338, 0.27384429, 0.6951137 ]),
 array([0.45584629, 0.37932297, 0.14006956, 0.01566438, 0.0090968 ]),
 array([0.14863112, 0.26789291, 0.2656998 , 0.23559784, 0.08217833]),
 array([0.04108186, 0.23162708, 0.46509374, 0.18392915, 0.07826818]),
 array([0.23927051, 0.17896511, 0.44184726, 0.08607711, 0.05384   ]),
 array([0.04452597, 0.02159715, 0.19439693, 0.22479752, 0.51468243]),
 array([0.01536561, 0.01682484, 0.08276257, 0.47762679, 0.4074202 ]),
 array([0.00761733, 0.04360733, 0.26777278, 0.45774822, 0.22325434]),
 array([0.05918429, 0.40361317, 0.42725774, 0.08067346, 0.02927134]),
 array([0.39389045, 0.38507577, 0.15488565, 0.05448819, 0.01165994]),
 array([0.02316569, 0.04181676, 0.04068021, 0.19659404, 0.6977433 ]),
 array([0.12793906, 0.29237899, 0.28646984, 0.17126869, 0.12194342]),
 array([0.03170948, 0.02229342, 0.03861704, 0.15990501, 0.74747505]),
 array([0.85260264, 0.07957033, 0.03759989, 0.01841017, 0.01181696]),
 array([0.28263038, 0.2431847 , 0.33408083, 0.10290236, 0.03720172]),
 array([0.60383981, 0.1861219 , 0.03768022, 0.05186217, 0.1204959 ]),
 array([0.34427596, 0.27879919, 0.2084324 , 0.14235965, 0.0261328 ]),
 array([0.48184867, 0.19089792, 0.22018901, 0.03413367, 0.07293073]),
 array([0.02682037, 0.18225463, 0.41374181, 0.28717074, 0.09001245]),
 array([0.50083445, 0.26572423, 0.18194114, 0.03613325, 0.01536694]),
 array([0.53932379, 0.25318939, 0.08094574, 0.07227227, 0.05426881]),
 array([0.70979993, 0.26243714, 0.01373706, 0.00461795, 0.00940792]),
 array([0.00772279, 0.02903529, 0.08945244, 0.28789817, 0.58589131]),
 array([0.01251243, 0.0174977 , 0.01303915, 0.23318828, 0.72376245]),
 array([0.01845589, 0.02498482, 0.06701784, 0.22559704, 0.66394441]),
 array([0.24982892, 0.13277506, 0.07263655, 0.1625902 , 0.38216926]),
 array([0.10139229, 0.08012944, 0.12109796, 0.14716321, 0.5502171 ]),
 array([0.04198368, 0.14560804, 0.14230597, 0.29407107, 0.37603124]),
 array([0.00147208, 0.00418377, 0.03925643, 0.28826859, 0.66681913]),
 array([0.07287702, 0.18118558, 0.37361793, 0.12757939, 0.24474009]),
 array([0.79092079, 0.08772635, 0.0470823 , 0.02367677, 0.05059378]),
 array([0.05952478, 0.03994794, 0.08222176, 0.09501599, 0.72328954]),
 array([0.23596102, 0.49321834, 0.15914438, 0.08254375, 0.02913251]),
 array([0.05876258, 0.22955544, 0.42098758, 0.17822228, 0.11247211]),
 array([0.08934175, 0.2339768 , 0.4905318 , 0.15002888, 0.03612077]),
 array([0.38845241, 0.26145661, 0.29701957, 0.04302607, 0.01004533]),
 array([0.009986  , 0.45605287, 0.45383977, 0.06996069, 0.01016068]),
 array([0.13366069, 0.16657699, 0.19574474, 0.35835002, 0.14566755]),
 array([0.22575032, 0.44316189, 0.25117358, 0.07242002, 0.0074942 ]),
 array([0.00670562, 0.01976575, 0.17738776, 0.49150446, 0.30463641]),
 array([0.00330084, 0.00785506, 0.04457018, 0.22287875, 0.72139517]),
 array([0.76109084, 0.13813254, 0.03631765, 0.04074371, 0.02371526]),
 array([0.00187843, 0.10901405, 0.5198585 , 0.34612308, 0.02312594]),
 array([0.00864397, 0.29641281, 0.32963609, 0.33445505, 0.03085208]),
 array([0.12032626, 0.09029541, 0.26737986, 0.31304603, 0.20895244]),
 array([0.11270539, 0.11655286, 0.090378  , 0.17337729, 0.50698647]),
 array([0.06444814, 0.45445268, 0.43904428, 0.03431489, 0.00774001]),
 array([0.35850754, 0.4129335 , 0.17808934, 0.04104801, 0.00942162]),
 array([0.81474989, 0.06730999, 0.05183815, 0.02160087, 0.04450108]),
 array([0.04213743, 0.07073847, 0.42319066, 0.43670764, 0.0272258 ]),
 array([0.09658529, 0.06631206, 0.11348145, 0.15674951, 0.56687169]),
 array([0.13846863, 0.16797747, 0.12780037, 0.36692028, 0.19883325]),
 array([0.04748358, 0.05639155, 0.11172768, 0.1730093 , 0.61138789]),
 array([0.69526125, 0.21572585, 0.02588296, 0.01427458, 0.04885537]),
 array([0.03669346, 0.47145266, 0.41600411, 0.068789  , 0.00706077]),
 array([0.06320472, 0.10628876, 0.40505701, 0.36582872, 0.05962079]),
 array([0.11045511, 0.2613219 , 0.4032148 , 0.18164404, 0.04336414]),
 array([0.0834787 , 0.17257972, 0.40964387, 0.30575832, 0.0285394 ]),
 array([0.0431253 , 0.30433712, 0.22993427, 0.41136703, 0.01123628]),
 array([0.31869401, 0.49587825, 0.07990608, 0.07295807, 0.03256359]),
 array([0.06310958, 0.02441623, 0.02482445, 0.23099125, 0.65665848]),
 array([0.77471547, 0.14057651, 0.03026756, 0.02227958, 0.03216087]),
 array([0.02765157, 0.02986001, 0.08488133, 0.33736289, 0.5202442 ]),
 array([0.15818938, 0.19975716, 0.18489576, 0.20566476, 0.25149294]),
 array([0.53481315, 0.22168966, 0.1430832 , 0.0428146 , 0.05759939]),
 array([0.70185731, 0.20117714, 0.0397271 , 0.02739372, 0.02984473]),
 array([0.00783735, 0.02515157, 0.26497886, 0.56539435, 0.13663787]),
 array([0.14059675, 0.51960799, 0.28338994, 0.04996389, 0.00644143]),
 array([0.17649757, 0.24913122, 0.25852706, 0.14021343, 0.17563072]),
 array([0.00641528, 0.03453136, 0.33546252, 0.56102462, 0.06256623]),
 array([0.17559053, 0.4381123 , 0.24375274, 0.11974144, 0.02280299]),
 array([0.07016537, 0.2017314 , 0.24386596, 0.35122238, 0.13301489]),
 array([0.05549783, 0.31632491, 0.22602484, 0.30289931, 0.09925312]),
 array([0.00511733, 0.02220277, 0.27672364, 0.33069386, 0.3652624 ]),
 array([0.00326145, 0.02560837, 0.17530638, 0.6448014 , 0.15102239]),
 array([0.0204234 , 0.17099987, 0.48349295, 0.30927374, 0.01581005]),
 array([0.13702989, 0.16835007, 0.11011885, 0.25351384, 0.33098736]),
 array([0.022481  , 0.01538268, 0.01984846, 0.03367553, 0.90861233]),
 array([0.01514737, 0.11438404, 0.74493179, 0.06464497, 0.06089183]),
 array([0.0205663 , 0.07057495, 0.05590749, 0.255035  , 0.59791627]),
 array([0.45886113, 0.31182872, 0.04895106, 0.0890937 , 0.09126539]),
 array([0.10331412, 0.32082127, 0.25048577, 0.2569889 , 0.06838993]),
 array([0.48396005, 0.15418817, 0.05115707, 0.02240168, 0.28829303]),
 array([0.19556498, 0.19150982, 0.40456376, 0.18276772, 0.02559372]),
 array([0.05049001, 0.17188258, 0.56034608, 0.20130626, 0.01597508]),
 array([0.00738624, 0.02052642, 0.17809   , 0.43276087, 0.36123646]),
 array([0.57480631, 0.26269192, 0.07364371, 0.06662766, 0.0222304 ]),
 array([0.03283348, 0.11165508, 0.0957519 , 0.41277802, 0.34698152]),
 array([0.02530433, 0.07644349, 0.15441912, 0.2563262 , 0.48750686]),
 array([0.02969577, 0.02886539, 0.02457054, 0.10616079, 0.81070751]),
 array([0.02414004, 0.01327402, 0.10354146, 0.27136852, 0.58767596]),
 array([0.04660436, 0.04602394, 0.04391092, 0.18630616, 0.67715463]),
 array([0.32726898, 0.22704494, 0.09064838, 0.10872711, 0.24631059]),
 array([0.06757334, 0.14050237, 0.28425865, 0.29252506, 0.21514058]),
 array([0.03831913, 0.03835143, 0.03811621, 0.23060832, 0.65460491]),
 array([0.03485526, 0.06732126, 0.06180791, 0.1203248 , 0.71569077]),
 array([0.70135752, 0.2131466 , 0.03836106, 0.03060318, 0.01653164]),
 array([0.75505091, 0.12780042, 0.05298872, 0.02714682, 0.03701313]),
 array([0.05143955, 0.07329181, 0.20518978, 0.40952417, 0.26055469]),
 array([0.0449808 , 0.49131506, 0.33799863, 0.10387432, 0.02183118]),
 array([0.0198379 , 0.10705842, 0.5461307 , 0.30674355, 0.02022943]),
 array([0.0054687 , 0.06551907, 0.2734245 , 0.30371856, 0.35186917]),
 array([0.28019573, 0.48604429, 0.16719807, 0.0387734 , 0.02778851]),
 array([0.51034363, 0.38204857, 0.07789163, 0.01805101, 0.01166516]),
 array([0.02776188, 0.31686907, 0.27524426, 0.28603574, 0.09408906]),
 array([0.15337558, 0.11022917, 0.08083216, 0.14768112, 0.50788197]),
 array([0.04167476, 0.06791171, 0.06633725, 0.29886288, 0.52521341]),
 array([0.25863683, 0.50080421, 0.10343274, 0.0472284 , 0.08989782]),
 array([0.80474327, 0.12713126, 0.03377152, 0.01562188, 0.01873208]),
 array([0.03172074, 0.38100935, 0.49915014, 0.08061291, 0.00750686]),
 array([0.33708026, 0.29070168, 0.1543071 , 0.06458975, 0.1533212 ]),
 array([0.07600656, 0.32497488, 0.45156171, 0.11836626, 0.02909059]),
 array([0.41143202, 0.09412415, 0.09867426, 0.14205044, 0.25371914]),
 array([0.59907646, 0.22714038, 0.08291124, 0.03807498, 0.05279693]),
 array([0.03376276, 0.31715555, 0.34719529, 0.27954237, 0.02234403]),
 array([0.54212266, 0.08842565, 0.08548382, 0.03069697, 0.25327089]),
 array([0.01108527, 0.07344576, 0.5472315 , 0.31440608, 0.0538314 ]),
 array([0.09161586, 0.49587232, 0.27161145, 0.07717762, 0.06372274]),
 array([0.00538244, 0.11402292, 0.2608166 , 0.55484037, 0.06493766]),
 array([0.0164453 , 0.06323436, 0.0699271 , 0.26809434, 0.58229889]),
 array([0.01753158, 0.47637145, 0.19265861, 0.26633276, 0.0471056 ]),
 array([0.04109518, 0.11260071, 0.26106697, 0.41596221, 0.16927493]),
 array([0.05412797, 0.07208803, 0.0548521 , 0.083569  , 0.7353629 ]),
 array([0.33138919, 0.5143597 , 0.08555665, 0.03819615, 0.0304983 ]),
 array([0.02677667, 0.29655996, 0.24064481, 0.36440251, 0.07161606]),
 array([0.00372629, 0.01923525, 0.08236636, 0.59143474, 0.30323737]),
 array([0.00815606, 0.02870253, 0.20706535, 0.25365811, 0.50241794]),
 array([0.02715877, 0.05846575, 0.06177571, 0.17629516, 0.67630461]),
 array([0.16862205, 0.30635831, 0.35586362, 0.12397317, 0.04518286]),
 array([0.13088873, 0.42315491, 0.19687456, 0.20369849, 0.04538331]),
 array([0.09475785, 0.22908166, 0.52644139, 0.07022487, 0.07949422]),
 array([0.04605676, 0.69606338, 0.15516298, 0.04773477, 0.05498211]),
 array([0.0018894 , 0.03018998, 0.45146959, 0.44016998, 0.07628104]),
 array([0.18523261, 0.34171848, 0.2225315 , 0.13581595, 0.11470147]),
 array([0.09923168, 0.66004166, 0.15233166, 0.0629999 , 0.02539509]),
 array([0.00412486, 0.03132642, 0.03249515, 0.35113782, 0.58091575]),
 array([0.00867329, 0.01160485, 0.11019872, 0.47704307, 0.39248008]),
 array([0.11974147, 0.37880573, 0.16012694, 0.09360832, 0.24771755]),
 array([0.36393438, 0.27567934, 0.21714124, 0.11924235, 0.02400269]),
 array([0.0183069 , 0.07458576, 0.43871213, 0.44574409, 0.02265113]),
 array([0.0026391 , 0.03691234, 0.18121201, 0.54311891, 0.23611763]),
 array([0.05292403, 0.11221859, 0.13345798, 0.50068317, 0.20071624]),
 array([0.06002162, 0.05792733, 0.04488697, 0.33786171, 0.49930236]),
 array([0.08584304, 0.17918615, 0.58233032, 0.10382406, 0.04881643]),
 array([0.04150426, 0.18282042, 0.28483546, 0.29318379, 0.19765607]),
 array([0.09341547, 0.32789576, 0.35597217, 0.1294615 , 0.0932551 ]),
 array([0.03260924, 0.45237542, 0.39317128, 0.11020576, 0.0116383 ]),
 array([0.32339849, 0.1984237 , 0.18982171, 0.1825544 , 0.10580171]),
 array([0.44125217, 0.38031011, 0.03849875, 0.09510599, 0.04483298]),
 array([0.39553672, 0.19476128, 0.06828049, 0.25415911, 0.0872624 ]),
 array([0.1420119 , 0.09360464, 0.18984845, 0.35795741, 0.2165776 ]),
 array([0.00962724, 0.07472138, 0.26646473, 0.57670649, 0.07248016]),
 array([0.03952084, 0.27073736, 0.24884033, 0.34465167, 0.0962498 ]),
 array([0.88541904, 0.04466867, 0.01442071, 0.01029397, 0.0451976 ]),
 array([0.02272791, 0.06126018, 0.40600246, 0.43288628, 0.07712317]),
 array([0.59356149, 0.23499848, 0.08677981, 0.0292467 , 0.05541352]),
 array([0.06582324, 0.49029004, 0.3413777 , 0.05015438, 0.05235464]),
 array([0.03329533, 0.41629282, 0.49879593, 0.03643961, 0.01517631]),

In [258]:
# Get the class labels
# predict method returns the class label of the observation based on the highest class probability 
y_train_unlab =  log_model.predict(train_df_unlab.fillna(' '))

In [259]:
#appending the predictions to a dataframe
y_train_unlab = list(y_train_unlab)
y_train_unlab

[1,
 4,
 5,
 1,
 5,
 5,
 4,
 2,
 3,
 4,
 2,
 5,
 3,
 5,
 5,
 4,
 1,
 1,
 3,
 4,
 4,
 4,
 1,
 2,
 3,
 4,
 2,
 4,
 4,
 5,
 4,
 1,
 5,
 5,
 3,
 5,
 1,
 2,
 3,
 5,
 4,
 4,
 3,
 3,
 1,
 4,
 4,
 3,
 1,
 1,
 4,
 3,
 2,
 4,
 4,
 4,
 4,
 3,
 3,
 1,
 4,
 1,
 1,
 2,
 4,
 2,
 3,
 5,
 4,
 3,
 4,
 3,
 3,
 4,
 1,
 5,
 5,
 2,
 2,
 1,
 3,
 5,
 1,
 4,
 1,
 4,
 3,
 5,
 5,
 4,
 3,
 5,
 5,
 1,
 5,
 4,
 4,
 1,
 1,
 3,
 1,
 5,
 4,
 4,
 1,
 4,
 1,
 4,
 2,
 2,
 3,
 1,
 5,
 3,
 2,
 5,
 2,
 2,
 1,
 3,
 3,
 4,
 5,
 4,
 2,
 1,
 3,
 5,
 1,
 2,
 3,
 3,
 5,
 4,
 4,
 3,
 1,
 5,
 2,
 5,
 1,
 3,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 3,
 1,
 5,
 2,
 3,
 3,
 1,
 2,
 4,
 2,
 4,
 5,
 1,
 3,
 4,
 4,
 5,
 2,
 2,
 1,
 4,
 5,
 4,
 5,
 1,
 2,
 3,
 3,
 3,
 4,
 2,
 5,
 1,
 5,
 5,
 1,
 1,
 4,
 2,
 3,
 4,
 2,
 4,
 2,
 5,
 4,
 3,
 5,
 5,
 3,
 5,
 1,
 2,
 1,
 3,
 3,
 4,
 1,
 4,
 5,
 5,
 5,
 5,
 1,
 4,
 5,
 5,
 1,
 1,
 4,
 2,
 3,
 5,
 2,
 1,
 2,
 5,
 5,
 2,
 1,
 3,
 1,
 3,
 1,
 1,
 3,
 1,
 3,
 2,
 4,
 5,
 2,
 4,
 5,
 2,
 4,
 4,
 5,
 5,
 3,
 2,
 3,
 2,
 3,
 2,
 2,
 5,
 4,
 2,
 1,
 4,
 4,
 4,
 5,
 3,
 4,
 3,
 2,
 1,
 1,
 1,
 4,
 4,
 4,
 1,
 4,
 1,
 2,
 3,
 1,
 5,
 5,
 5,
 5,
 4,
 2,
 5,
 4,
 1,
 1,
 3,
 3,
 4,
 4,
 3,
 3,
 5,
 1,
 4,
 3,
 1,
 2,
 4,
 3,
 1,
 4,
 1,
 5,
 1,
 1,
 2,
 5,
 3,
 4,
 5,
 2,
 4,
 2,
 5,
 4,
 1,
 5,
 4,
 5,
 2,
 1,
 1,
 3,
 5,
 4,
 2,
 4,
 1,
 1,
 2,
 3,
 2,
 5,
 1,
 4,
 1,
 5,
 1,
 5,
 4,
 1,
 5,
 1,
 4,
 2,
 3,
 3,
 1,
 3,
 2,
 5,
 3,
 3,
 1,
 3,
 1,
 5,
 3,
 1,
 2,
 1,
 1,
 4,
 2,
 4,
 1,
 5,
 5,
 1,
 2,
 1,
 2,
 2,
 5,
 1,
 3,
 4,
 1,
 2,
 4,
 1,
 3,
 2,
 4,
 3,
 2,
 3,
 3,
 3,
 5,
 2,
 5,
 2,
 4,
 5,
 4,
 1,
 4,
 4,
 3,
 2,
 1,
 3,
 1,
 1,
 2,
 4,
 3,
 3,
 5,
 5,
 3,
 5,
 3,
 4,
 4,
 4,
 4,
 2,
 2,
 4,
 5,
 5,
 1,
 4,
 5,
 5,
 4,
 2,
 1,
 3,
 4,
 1,
 1,
 3,
 4,
 5,
 3,
 4,
 5,
 2,
 2,
 5,
 5,
 4,
 5,
 2,
 5,
 5,
 2,
 3,
 5,
 3,
 1,
 3,
 5,
 4,
 2,
 1,
 1,
 2,
 1,
 4,
 1,
 5,
 1,
 2,
 1,
 2,
 4,
 1,
 5,
 5,
 5,
 2,
 2,
 1,
 1,
 2,
 3,
 5,
 1,
 5,
 3,
 1,
 1,
 2,
 3,
 3,
 3,
 2,
 4,
 2,
 4,
 3,
 3,
 2,
 1,
 1,
 1,
 5,
 4,
 3,
 1,
 5,
 5,
 5,
 2,
 2,
 5,
 3,
 4,
 1,
 1,
 3,
 4,
 1,
 5,
 4,
 4,
 4,
 4,
 5,
 5,
 3,
 3,
 1,
 3,
 4,
 1,
 1,
 5,
 4,
 4,
 4,
 4,
 5,
 2,
 4,
 2,
 1,
 1,
 1,
 2,
 2,
 3,
 3,
 3,
 2,
 1,
 3,
 5,
 2,
 2,
 5,
 3,
 3,
 2,
 3,
 1,
 1,
 5,
 4,
 4,
 1,
 1,
 1,
 1,
 2,
 4,
 3,
 2,
 4,
 2,
 5,
 1,
 2,
 5,
 2,
 1,
 5,
 3,
 1,
 1,
 1,
 4,
 3,
 4,
 2,
 1,
 1,
 3,
 1,
 1,
 5,
 1,
 3,
 4,
 3,
 4,
 4,
 5,
 1,
 1,
 2,
 3,
 1,
 3,
 4,
 1,
 3,
 5,
 5,
 3,
 1,
 5,
 3,
 4,
 2,
 3,
 2,
 3,
 3,
 3,
 3,
 4,
 3,
 5,
 5,
 2,
 1,
 5,
 2,
 1,
 5,
 3,
 4,
 5,
 4,
 5,
 2,
 3,
 5,
 1,
 1,
 1,
 5,
 5,
 2,
 5,
 4,
 3,
 3,
 3,
 3,
 1,
 1,
 5,
 1,
 2,
 1,
 5,
 4,
 4,
 4,
 4,
 5,
 5,
 1,
 2,
 1,
 5,
 1,
 3,
 3,
 2,
 3,
 5,
 4,
 4,
 2,
 3,
 3,
 5,
 1,
 5,
 5,
 1,
 1,
 5,
 2,
 1,
 3,
 2,
 4,
 1,
 1,
 3,
 4,
 5,
 3,
 1,
 2,
 2,
 5,
 1,
 4,
 2,
 5,
 1,
 2,
 2,
 1,
 1,
 5,
 1,
 3,
 5,
 5,
 4,
 3,
 2,
 4,
 3,
 5,
 5,
 2,
 2,
 5,
 5,
 4,
 1,
 4,
 1,
 3,
 1,
 1,
 1,
 4,
 4,
 5,
 2,
 1,
 3,
 1,
 5,
 1,
 1,
 2,
 3,
 1,
 3,
 4,
 2,
 3,
 5,
 5,
 3,
 2,
 3,
 2,
 3,
 4,
 5,
 4,
 4,
 5,
 1,
 4,
 2,
 1,
 3,
 5,
 4,
 4,
 2,
 4,
 1,
 1,
 1,
 4,
 5,
 3,
 4,
 3,
 4,
 2,
 5,
 5,
 2,
 1,
 1,
 1,
 4,
 3,
 4,
 4,
 4,
 5,
 5,
 2,
 4,
 3,
 4,
 3,
 3,
 4,
 1,
 1,
 2,
 1,
 2,
 3,
 5,
 5,
 2,
 3,
 2,
 1,
 2,
 2,
 2,
 2,
 5,
 5,
 3,
 5,
 3,
 1,
 2,
 4,
 4,
 3,
 1,
 2,
 2,
 4,
 1,
 2,
 4,
 1,
 2,
 1,
 1,
 2,
 3,
 2,
 3,
 3,
 5,
 2,
 3,
 5,
 4,
 4,
 4,
 2,
 3,
 2,
 1,
 4,
 5,
 4,
 1,
 4,
 4,
 5,
 2,
 5,
 4,
 3,
 1,
 5,
 4,
 4,
 2,
 1,
 4,
 5,
 4,
 1,
 2,
 4,
 5,
 2,
 2,
 1,
 5,
 5,
 1,
 1,
 2,
 5,
 4,
 5,
 3,
 1,
 3,
 1,
 5,
 3,
 1,
 5,
 4,
 5,
 2,
 4,
 4,
 3,
 3,
 3,
 1,
 2,
 2,
 5,
 5,
 3,
 1,
 4,
 5,
 2,
 2,
 1,
 5,
 2,
 5,
 4,
 1,
 4,
 3,
 5,
 3,
 4,
 4,
 3,
 1,
 1,
 2,
 4,
 5,
 3,
 5,
 1,
 4,
 5,
 2,
 3,
 2,
 5,
 1,
 3,
 2,
 1,
 1,
 3,
 1,
 3,
 3,
 5,
 5,
 5,
 4,
 2,
 5,
 5,
 5,
 5,
 5,
 3,
 2,
 3,
 3,
 3,
 3,
 1,
 5,
 2,
 5,
 3,
 5,
 5,
 3,
 2,
 1,
 3,
 3,
 2,
 3,
 1,
 ...]

In [260]:
train_df_unlab.head()

,text,word_count,capitals,num_exclamation_marks,num_question_marks,num_unique_words,words_vs_unique
ids,,,,,,,
50214,had good experience when my wife and sat at th...,0.085577,0.000000,0.000000,0.0,0.130672,0.763889
50215,on my first to montreal with my gf we came her...,0.283654,0.000000,0.000000,0.0,0.348457,0.565034
50216,one of our favorite places to go when it is co...,0.025000,0.000000,0.006623,0.0,0.045372,0.953704
50217,the doctor was very nice got in in good amount...,0.133654,0.009174,0.019868,0.0,0.174229,0.616071
50218,the nook is an immediate phoenix staple came h...,0.188462,0.000000,0.006623,0.0,0.226860,0.549492

In [261]:
# setting the label and the probability columns in our dataframe
train_df_unlab['label'] = y_train_unlab
train_df_unlab['proba'] = y_train_unlab_proba
train_df_unlab.head()

,text,word_count,capitals,num_exclamation_marks,num_question_marks,num_unique_words,words_vs_unique,label,proba
ids,,,,,,,,,
50214,had good experience when my wife and sat at th...,0.085577,0.000000,0.000000,0.0,0.130672,0.763889,1,"[0.3029679508072741, 0.13528450560284286, 0.28..."
50215,on my first to montreal with my gf we came her...,0.283654,0.000000,0.000000,0.0,0.348457,0.565034,4,"[0.006193083729534292, 0.12128443188432902, 0...."
50216,one of our favorite places to go when it is co...,0.025000,0.000000,0.006623,0.0,0.045372,0.953704,5,"[0.03860827433542501, 0.08587971408413816, 0.0..."
50217,the doctor was very nice got in in good amount...,0.133654,0.009174,0.019868,0.0,0.174229,0.616071,1,"[0.5880330922926519, 0.17142657793184435, 0.09..."
50218,the nook is an immediate phoenix staple came h...,0.188462,0.000000,0.006623,0.0,0.226860,0.549492,5,"[0.007379595186535904, 0.015515921839902561, 0..."

**Now, logistic regression model gives a probability values for each observation. 
We select those observations which have class probability values of more than 0.8. 
Doing so we ensure that we only add those pseudo labels for which the model is atleast 80% confident.
We add those pseudo labelled rows from our unlabeled dataset to the labeled dataset as shown below.**

In [262]:
max_proba_list = []

for rowlist in train_df_unlab['proba']:
    max_proba_list.append(max(rowlist))
    
train_df_unlab['max_proba'] = max_proba_list
train_df_unlab.head()

,text,word_count,capitals,num_exclamation_marks,num_question_marks,num_unique_words,words_vs_unique,label,proba,max_proba
ids,,,,,,,,,,
50214,had good experience when my wife and sat at th...,0.085577,0.000000,0.000000,0.0,0.130672,0.763889,1,"[0.3029679508072741, 0.13528450560284286, 0.28...",0.302968
50215,on my first to montreal with my gf we came her...,0.283654,0.000000,0.000000,0.0,0.348457,0.565034,4,"[0.006193083729534292, 0.12128443188432902, 0....",0.362747
50216,one of our favorite places to go when it is co...,0.025000,0.000000,0.006623,0.0,0.045372,0.953704,5,"[0.03860827433542501, 0.08587971408413816, 0.0...",0.626770
50217,the doctor was very nice got in in good amount...,0.133654,0.009174,0.019868,0.0,0.174229,0.616071,1,"[0.5880330922926519, 0.17142657793184435, 0.09...",0.588033
50218,the nook is an immediate phoenix staple came h...,0.188462,0.000000,0.006623,0.0,0.226860,0.549492,5,"[0.007379595186535904, 0.015515921839902561, 0...",0.704653

In [263]:
#taking rows having probability values more than 0.80 (high confidence rows) 
#This threshold indicates how certain the model is
train_df_unlab = train_df_unlab[train_df_unlab.max_proba > 0.80]
train_df_unlab

,text,word_count,capitals,num_exclamation_marks,num_question_marks,num_unique_words,words_vs_unique,label,proba,max_proba
ids,,,,,,,,,,
50293,do not get your policy with them worst custome...,0.070192,0.032110,0.000000,0.000000,0.114338,0.831081,1,"[0.8599410810652746, 0.0880713238120241, 0.035...",0.859941
50326,just love this place everyone there is so nice...,0.037500,0.000000,0.013245,0.000000,0.052632,0.687500,5,"[0.007364156786535241, 0.018323603818547887, 0...",0.813797
50354,all problems were small to negligible until go...,0.116346,0.009174,0.019868,0.000000,0.156080,0.641393,1,"[0.8526026406729331, 0.07957033129108847, 0.03...",0.852603
50389,have used this company for few of my propertie...,0.144231,0.004587,0.006623,0.000000,0.183303,0.594371,1,"[0.8147498939757117, 0.06730999309230402, 0.05...",0.814750
50418,absolutely amazing food even better service th...,0.015385,0.004587,0.006623,0.000000,0.027223,0.926471,5,"[0.022481002779077424, 0.0153826785039694, 0.0...",0.908612
...,...,...,...,...,...,...,...,...,...,...
605056,this is by far the worst company my family and...,0.275000,0.022936,0.006623,0.000000,0.317604,0.516551,1,"[0.8112203153354156, 0.0812188282745403, 0.028...",0.811220
605061,would not even give them NUM star this is the ...,0.090385,0.000000,0.013245,0.000000,0.139746,0.776316,1,"[0.870414921041628, 0.036086582936979125, 0.02...",0.870415
605073,if could give no stars would about week ago sc...,0.250000,0.045872,0.006623,0.015385,0.284936,0.506705,1,"[0.8358205461496548, 0.1090832884571438, 0.033...",0.835821
605093,worse dme company ever NUM days before my due ...,0.487500,0.059633,0.132450,0.092308,0.442831,0.352854,1,"[0.8226618840184522, 0.11424718645841289, 0.00...",0.822662
605107,worst mcdonalds have ever been to on multiple ...,0.017308,0.000000,0.000000,0.000000,0.032668,1.000000,1,"[0.8118072749766416, 0.09630089575902186, 0.03...",0.811807

In [264]:
#dropping maximum probability column and probability vector column
train_df_unlab = train_df_unlab.drop(columns=['max_proba', 'proba'], axis=1)
train_df_unlab.head()

,text,word_count,capitals,num_exclamation_marks,num_question_marks,num_unique_words,words_vs_unique,label
ids,,,,,,,,
50293,do not get your policy with them worst custome...,0.070192,0.032110,0.000000,0.0,0.114338,0.831081,1
50326,just love this place everyone there is so nice...,0.037500,0.000000,0.013245,0.0,0.052632,0.687500,5
50354,all problems were small to negligible until go...,0.116346,0.009174,0.019868,0.0,0.156080,0.641393,1
50389,have used this company for few of my propertie...,0.144231,0.004587,0.006623,0.0,0.183303,0.594371,1
50418,absolutely amazing food even better service th...,0.015385,0.004587,0.006623,0.0,0.027223,0.926471,5

In [265]:
#Min-Max Normalization 
for colname in textcountscols:
    train_df[colname] = pd.to_numeric(train_df[colname])
    train_df[colname] = (train_df[colname]-train_df[colname].min())/(train_df[colname].max()-\
                                                                           train_df[colname].min())
train_df.dtypes

ids                        int64
text                      object
label                      int64
word_count               float64
capitals                 float64
num_exclamation_marks    float64
num_question_marks       float64
num_unique_words         float64
words_vs_unique          float64
dtype: object

In [266]:
train_df_unlab.reset_index('ids', inplace=True)

In [267]:
train_df_unlab= train_df_unlab[['ids','text','label','word_count','capitals','num_exclamation_marks','num_question_marks','num_unique_words','words_vs_unique']]
train_df_unlab.head()

,ids,text,label,word_count,capitals,num_exclamation_marks,num_question_marks,num_unique_words,words_vs_unique
0,50293,do not get your policy with them worst custome...,1,0.070192,0.032110,0.000000,0.0,0.114338,0.831081
1,50326,just love this place everyone there is so nice...,5,0.037500,0.000000,0.013245,0.0,0.052632,0.687500
2,50354,all problems were small to negligible until go...,1,0.116346,0.009174,0.019868,0.0,0.156080,0.641393
3,50389,have used this company for few of my propertie...,1,0.144231,0.004587,0.006623,0.0,0.183303,0.594371
4,50418,absolutely amazing food even better service th...,5,0.015385,0.004587,0.006623,0.0,0.027223,0.926471

In [268]:
#merging both the dataframes
merged_df = pd.concat([train_df,train_df_unlab], ignore_index = True)

In [269]:
merged_df = merged_df.drop(columns=['ids'],axis = 1)
merged_df.head()

,text,label,word_count,capitals,num_exclamation_marks,num_question_marks,num_unique_words,words_vs_unique
0,the new rule is if you are waiting for table w...,4,0.107738,0.02,0.000000,0.027027,0.158582,0.643544
1,flirted with giving this two stars but that is...,3,0.200784,0.00,0.000000,0.000000,0.266791,0.523664
2,was staying at planet hollywood across the str...,5,0.107738,0.00,0.011765,0.000000,0.145522,0.543736
3,food is good but prices are super expensive NU...,2,0.126347,0.00,0.000000,0.027027,0.180970,0.610421
4,worse company to deal with they do horrible wo...,1,0.120470,0.00,0.000000,0.000000,0.145522,0.425646

In [270]:
merged_df.shape

(67519, 8)

In this manner, the high confidence rows from unlabeled dataset has been added to the labeled dataset and now we rebuild the logistic regression, multinomial naive bayes and ensemble models.

In [271]:
#train test split in the ratio of 80:20
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(merged_df.drop('label', axis=1), merged_df.label, \
                                                    test_size=0.2, random_state=69)

In [272]:
X_train

,text,word_count,capitals,num_exclamation_marks,num_question_marks,num_unique_words,words_vs_unique
23486,stayed at the rio this weekend and will be my ...,0.324192,0.020000,0.000000,0.000000,0.363806,0.351680
33911,exactly what needed when wanted quick snack lo...,0.042116,0.000000,0.000000,0.000000,0.072761,0.856121
41958,have been here couple times now and have had m...,0.064643,0.000000,0.011765,0.000000,0.100746,0.716538
10319,ate there once and short of being annoyed by a...,0.068560,0.000000,0.000000,0.000000,0.110075,0.754798
21177,ate here last week initially enjoyed the ambia...,0.273262,0.000000,0.000000,0.000000,0.296642,0.321715
...,...,...,...,...,...,...,...
11825,we loved our stay at the venetian wish we coul...,0.358472,0.020000,0.176471,0.054054,0.492537,0.560131
47508,not bad but have had better shumai their taro ...,0.024486,0.000000,0.000000,0.000000,0.046642,1.000000
25015,had happy hour for the day after my wedding wh...,0.058766,0.000000,0.000000,0.000000,0.093284,0.740547
9818,this is the only place that know of that can g...,0.123408,0.010000,0.000000,0.000000,0.173507,0.588756
64566,went into this location to make deposit the te...,0.214423,0.004587,0.000000,0.000000,0.212341,0.408482

In [273]:
y_train

23486    1
33911    4
41958    4
10319    2
21177    1
        ..
11825    5
47508    3
25015    5
9818     3
64566    1
Name: label, Length: 54015, dtype: int64

# Running logistic model

In [274]:
#running logistic model on pseudo labels + train labels
log_model.fit(X_train.fillna(' '), y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

Pipeline(memory=None,
         steps=[('features',
                 FeatureUnion(n_jobs=None,
                              transformer_list=[('textcounts',
                                                 ColumnExtractor(cols=Index(['word_count', 'capitals', 'num_exclamation_marks', 'num_question_marks',
       'num_unique_words', 'words_vs_unique'],
      dtype='object'))),
                                                ('pipe',
                                                 Pipeline(memory=None,
                                                          steps=[('cleantext',
                                                                  ColumnExtractor(cols='text')),
                                                                 ('vect',
                                                                  TfidfVectoriz...
                                                          verbose=False))],
                              transformer_weights=None, verbose=False)),
                ('log',
                 OneVsRestClassifier(estimator=LogisticRegression(C=1.01,
                                                                  class_weight=None,
                                                                  dual=False,
                                                                  fit_intercept=True,
                                                                  intercept_scaling=1,
                                                                  l1_ratio=None,
                                                                  max_iter=100,
                                                                  multi_class='warn',
                                                                  n_jobs=None,
                                                                  penalty='l2',
                                                                  random_state=0,
                                                                  solver='lbfgs',
                                                                  tol=0.0001,
                                                                  verbose=0,
                                                                  warm_start=False),
                                     n_jobs=None))],
         verbose=False)

In [275]:
y_log_pred = log_model.predict(X_test.fillna(' '))
print("Accuracy:",accuracy_score(y_test, y_log_pred))

Accuracy: 0.7133441943127962

**The accuracy shown by logistic regression model on labelled+unlabelled dataset is 71.33**

**Accuracy shown by Multinomial Naive Bayes was 68.60 on labelled+unlabelled dataset**

**The accuracy shown by Ensemble Model on labelled+unlabelled dataset was 70.93**

**The accuracy shown by Stacked Model on labelled+unlabelled dataset was 71.05**

## Preprocessing test data and feature extraction

Now, we perform predictions on the test data using logistic regression model and evaluate its accuracy.

In [304]:
#reading the test file
kaggle=pd.read_csv('test_data.csv')
kaggle.head()

  test_id                                               text
0  test_1  trying to have a nice quiet dinner.  the annou...
1  test_2  Been getting food to go from here for over 3yr...
2  test_3  Ugh. I've had to eat here a couple of times be...
3  test_4  The people here are so nice! I ordered on eat ...
4  test_5  Heard alot of good things about this place and...

We pass the test dataset to the preprocessing function and we also generate numerical features as we did for the labelled dataset.

In [305]:
#generating numerical features
kaggle=extract_features(kaggle)

Done

In [306]:
# Document token pairing by making a dictionary where the keys are the doc ids and the values are
# the tokens in the document
tokenized_reuters =  dict(CleanData(row_id,row['text']) for row_id,row in kaggle.iterrows())


# list of all words in the dataset
words = list(chain.from_iterable(tokenized_reuters.values()))

# list of words not in stop words
words_imp = [w for w in words if not w in stop_words]

In [307]:
#keeping the best features
drop_list = ['char_count', 'word_density', 'punc_count', 'total_length',
       'caps_vs_length']
kaggle.drop(columns=drop_list, axis = 1, inplace=True)
kaggle.head()

,test_id,text,word_count,capitals,num_exclamation_marks,num_question_marks,num_unique_words,words_vs_unique
0,test_1,trying to have a nice quiet dinner. the annou...,20,0,0,0,18,0.900000
1,test_2,Been getting food to go from here for over 3yr...,124,0,0,0,98,0.790323
2,test_3,Ugh. I've had to eat here a couple of times be...,248,7,3,0,172,0.693548
3,test_4,The people here are so nice! I ordered on eat ...,32,0,3,0,31,0.968750
4,test_5,Heard alot of good things about this place and...,95,0,2,0,79,0.831579

In [308]:
#processing bigrams
bigrams = nltk.collocations.BigramAssocMeasures()
bigramFinder = nltk.collocations.BigramCollocationFinder.from_words(words_imp)

In [309]:
best_bigrams=bigramFinder.nbest(bigrams.pmi, 200)

In [310]:
# Choose the relevant bigrams which have the POS tags we desire
# Add them to a tagged list
pos_tagged = list()
for bigram in best_bigrams:
    tagged_sentence = nltk.tag.pos_tag([bigram[0].strip('\''),bigram[1].strip('\'')])
    
    if tagged_sentence[0][1] in POS_TAGS or tagged_sentence[1][1] in POS_TAGS:
        pos_tagged.append((tagged_sentence[0][0],tagged_sentence[1][0]))

In [311]:
# Tokenizing the multi-word entities
mwetokens = MWETokenizer(pos_tagged)

colloc_units = dict()
for key, value in tokenized_reuters.items():
    colloc_units[key] = mwetokens.tokenize(value)

In [312]:
#appending numerical features
ids = [i for i in range(0,kaggle.shape[0])]
kaggle['ids'] = ids
train_df_kaggle=pd.DataFrame(colloc_units.items(), columns=['ids','text'])
train_df_kaggle['text']=train_df_kaggle['text'].astype(str)
train_df_kaggle['word_count'] = kaggle['word_count']
train_df_kaggle['capitals'] = kaggle['capitals']
train_df_kaggle['num_exclamation_marks'] = kaggle['num_exclamation_marks']
train_df_kaggle['num_question_marks'] = kaggle['num_question_marks']
train_df_kaggle['num_unique_words'] = kaggle['num_unique_words']
train_df_kaggle['words_vs_unique'] = kaggle['words_vs_unique']
train_df_kaggle.head()

,ids,text,word_count,capitals,num_exclamation_marks,num_question_marks,num_unique_words,words_vs_unique
0,0,"['trying', 'to', 'have', 'nice', 'quiet', 'din...",20,0,0,0,18,0.900000
1,1,"['been', 'getting', 'food', 'to', 'go', 'from'...",124,0,0,0,98,0.790323
2,2,"['ugh', 'have', 'had', 'to', 'eat', 'here', 'c...",248,7,3,0,172,0.693548
3,3,"['the', 'people', 'here', 'are', 'so', 'nice',...",32,0,3,0,31,0.968750
4,4,"['heard', 'alot', 'of', 'good', 'things', 'abo...",95,0,2,0,79,0.831579

In [313]:
train_df_kaggle.drop('ids',axis=1,inplace=True)
train_df_kaggle.head()

,text,word_count,capitals,num_exclamation_marks,num_question_marks,num_unique_words,words_vs_unique
0,"['trying', 'to', 'have', 'nice', 'quiet', 'din...",20,0,0,0,18,0.900000
1,"['been', 'getting', 'food', 'to', 'go', 'from'...",124,0,0,0,98,0.790323
2,"['ugh', 'have', 'had', 'to', 'eat', 'here', 'c...",248,7,3,0,172,0.693548
3,"['the', 'people', 'here', 'are', 'so', 'nice',...",32,0,3,0,31,0.968750
4,"['heard', 'alot', 'of', 'good', 'things', 'abo...",95,0,2,0,79,0.831579

In [314]:
#merging the tokens
train_df_kaggle['text'] = train_df_kaggle['text'].apply(merge_tokens)

In [315]:
#Min-Max Normalization
for colname in textcountscols:
    train_df_kaggle[colname] = pd.to_numeric(train_df_kaggle[colname])
    train_df_kaggle[colname] = (train_df_kaggle[colname]-train_df_kaggle[colname].min())/(train_df_kaggle[colname].max()-\
                                                                                          train_df_kaggle[colname].min())
train_df_kaggle.dtypes

text                      object
word_count               float64
capitals                 float64
num_exclamation_marks    float64
num_question_marks       float64
num_unique_words         float64
words_vs_unique          float64
dtype: object

In [316]:
train_df_kaggle

,text,word_count,capitals,num_exclamation_marks,num_question_marks,num_unique_words,words_vs_unique
0,trying to have nice quiet dinner the announcer...,0.018627,0.000000,0.000000,0.000000,0.032015,0.851166
1,been getting food to go from here for over NUM...,0.120588,0.000000,0.000000,0.000000,0.182674,0.687929
2,ugh have had to eat here couple of times becau...,0.242157,0.078652,0.023256,0.000000,0.322034,0.543896
3,the people here are so nice ordered on eat NUM...,0.030392,0.000000,0.023256,0.000000,0.056497,0.953489
4,heard alot of good things about this place and...,0.092157,0.000000,0.015504,0.000000,0.146893,0.749333
...,...,...,...,...,...,...,...
49995,their pizza is alright still think spinato is ...,0.020588,0.000000,0.007752,0.000000,0.033898,0.797045
49996,are here for an event and it was as expected f...,0.020588,0.000000,0.000000,0.000000,0.035782,0.864697
49997,came here for business lunch and was not impre...,0.068627,0.011236,0.000000,0.000000,0.096045,0.601712
49998,have been working with charles over the last N...,0.047059,0.000000,0.000000,0.000000,0.075330,0.757006
49999,at our second visit we were dismayed to find o...,0.142157,0.000000,0.000000,0.026316,0.201507,0.612624

In [317]:
#performing predictions
kaggle_log_pred = log_model.predict(train_df_kaggle.fillna(' '))

In [318]:
kaggle['label'] = kaggle_log_pred

In [319]:
kaggle.drop(columns=['text','word_count','capitals','num_exclamation_marks','num_question_marks','num_unique_words','words_vs_unique','ids'], axis=1, inplace=True)

In [320]:
kaggle.shape

(50000, 2)

In [321]:
kaggle.to_csv('predict_label.csv', index=False)

## References


* https://towardsdatascience.com/the-real-world-as-seen-on-twitter-sentiment-analysis-part-one-5ac2d06b63fb
* https://towardsdatascience.com/sentiment-analysis-simplified-ac30720a5827
* https://medium.com/@robert.salgado/multiclass-text-classification-from-start-to-finish-f616a8642538
* https://www.analyticsvidhya.com/blog/2017/08/introduction-to-multi-label-classification/
* https://towardsdatascience.com/multi-class-text-classification-with-scikit-learn-12f1e60e0a9f
* https://towardsdatascience.com/machine-learning-multiclass-classification-with-imbalanced-data-set-29f6a177c1a
* https://www.analyticsvidhya.com/blog/2017/09/pseudo-labelling-semi-supervised-learning-technique/